---

---
<h2>Contador de Visitas</h2>
<div class="counter">
    <span>0</span>
    <span>0</span>
    <span>0</span>
    <span>0</span>
    <span>0</span>
    <span>0</span>
</div>

<style>
    h2{
        text-align: center;
    }
    .counter{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.8rem;
        padding-bottom: 2rem;
    }
</style>

<script  is:inline src="/contador.js"></script>