---

---

<div class="counter">
    <p>Esta página ha sido visitada <span id="contador"></span> veces.</p>
</div>

<style>
    h2{
        text-align: center;
    }
    .counter{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.8rem;
        padding-bottom: 2rem;
    }
</style>

<script src="../scripts/contador.js"></script>