---

---

<footer>
    <div class="footer_contenido">
        <h1>¡LLAMA AHORA!</h1>
        <h2>ESTAS A UN CLIC DE <span>APRENDER A MANEJAR</span></h2>
        <a href="https://wa.link/b4ja7p" target="_blank">
            <button>
                QUIERO APRENDER A MANEJAR
            </button>
        </a>
    </div>
</footer>

<style>
    footer {
        background-color: var(--amarillo);
        text-align: center;
        padding: 3rem 0;
    }


    .footer_contenido{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer_contenido h1{
        font-size: 3rem;
    }

    .footer_contenido h2{
        margin-top: -1rem;
        font-size: 2rem;
    }

    .footer_contenido h2 span {
        text-decoration: underline;
    }

    button {
		box-shadow: 4px 4px 9px 0px #000000;
		background-color: var(#eaeaeb);
		border-radius:28px;
		border:1px solid #000a01;
		display:inline-block;
		cursor:pointer;
		color:#000000;
		font-size: 1.5rem;
		padding:8px 16px;
		text-decoration:none;
		text-shadow:0px 1px 0px #000000;
	}


</style>