---
import Header from '../components/Header.astro';
import Mapa from '../components/Mapa.astro';
import Footer from '../components/Footer.astro';
import Contador from '../components/Contador.astro';
import Whats from '../components/Whats.astro';
import Banner from '../components/Banner.astro';

import '@fontsource-variable/roboto-slab';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-52KBMCK');
		</script>
		<!-- End Google Tag Manager -->
		<meta charset="UTF-8" />
		<meta name="description" content="Escuela de manejo, cdmx, manejo, escuela, intermontreal,">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52KBMCK"
			height="0" width="0" style="display:none;visibility:hidden">
		</iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Whats />
		<Header />
		<Banner />
		<slot />
		<Mapa />
		<Footer />
		<Contador />
	</body>
</html>


<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--color-primario: #242323;
		--color-secundario: #fff;
		--amarillo: #fcc726;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body{
		padding: 0;
		margin: 0;
		background-color: #fff;
		font-family: 'Roboto Slab Variable', sans-serif;
	}
</style>
